@import "_reset.scss";
html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color:#dcdcdc;
}

$lighttext:#fff;

.container {
    margin:5em auto 0 auto;
    max-width: 1200px;
    padding: 1em;
}

.nav-container {
    margin: auto;
}

.nav-button {

    .MuiButton-label {
        color:$lighttext;
      }
}


#likeButton {
    padding-left:0 !important;
}
// .gridContainer {
//     margin:2em;
// }
